/* added font type -ken */
@font-face {
  font-family: 'AirbnbCerealApp-Bold';
  src: url('../fonts/AirbnbCereal-Bold.ttf') format("truetype");
}

/* made css -ken */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* added font type and color white -ken */
body, html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-140deg, #476CBD, #7DCFA2);
  font-family: "AirbnbCerealApp-Bold";
  color: white;
}

.top-wrapper {
  height: 20%;
  text-align: center;
}

.topbar {
  height: 50px;
  position: fixed;
  background-color: transparent;
  width: 100%;

}

.topbar a {
  display: block;
  float: left;
  color: white;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.top-wrapper h1 {
  display: inline-block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 0px;
  color: white;
  border-bottom: 1px solid white;
}

.middle-wrapper h1 {
  color: white;
  font-size: 23pt;
}

.middle-wrapper {
  height:70%;
  background-color: transparent;
  padding-top: 30px;
}

.middle-wrapper p {
  color: white;
  font-weight:300;
}
/* changed background color to transparent -ken */
.container {
  display: block;
  width: 800px;
  height: 150px;
  background-color: white;
  border-radius: 4px;
  margin: 30px auto;
  background-color: transparent;
}

.foot-wrapper {
  position: absolute;
      overflow: hidden;
      bottom: 0px;
      background-color: #6c7180;
      width: 100%;
      height: 50px;
      z-index: 0;

}

.foot-wrapper p {
  margin-left: 100px;
    margin-top: 15px;
}
/* added p element css -ken */
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
