/* added css to back button -ken */

* {
margin: 0;
}

html, body {
height: 100%;
}

h1 {
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 26px 0px;
}

.page-wrap {
  width: 100%;
}
.top-wrapper {
  height: 80px;
  background-color: grey;
}

.top-wrapper a {
  float: right;
}

.middle-wrapper {
  width: 100%;
  float: left;
  height: 580px;
  margin: 0 auto;
  text-align: center;
}

.container{
  display: inline-block;
  width: 20%;
  height: 230px;
  border: 1px grey solid;
  text-align: center;
  margin: 100px 40px;
	-webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.foot-wrapper {
  clear: both;
  height: 70px;
  background-color: grey;
}

.top-wrapper h1 {
  padding: 17px 0;
  font-size: 23pt;
  margin-left: 30px;
  color: white;
}

.foot-wrapper h2 {
  padding: 22px 0;
  font-size: 15pt;
  padding-left: 25px;
  color: white;
}
