body {
    background-color: rgb(236, 120, 140);
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.topLeft {
    padding-left: 30px;
    margin: 0 auto;
    width: 25%;
    height: 200px;
    float: left;
}

.greeting {
    font-size: 10pt;
}

.menu {
    height: 100px;
    width: 250px;
    float: left;
}

/* menu button */
.hamIcon {
    float: left;
    position: relative;
    margin-top: 15px;
    width: 60px;
    height: 40px;
}

.hamIcon span {
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    background: white;
    transition: 0.6s;
}

.hamIcon .one {
    top: 0;
}

.hamIcon .two, .hamIcon .three {
    top: 16px;
}

.hamIcon .four {
    top: 32px;
}

.hamIcon.open .one, .hamIcon.open .four {
    display: none;
}

.hamIcon.open .two {
    transform: rotate(45deg);
}

.hamIcon.open .three {
    transform: rotate(-45deg);
}

.signOutButton {
    text-align: center;
    border: 5px solid white;
    border-radius: 20px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    float: right;
    margin-top: 10px;
    box-shadow: 0 0 5px white;
}

.signOutButton:hover {
    background-color: white;
    color: coral;
}

.upcomingEvents {
    width: 30%;
    height: 200px;
    float: left;
    background-color: red;
    margin-left: 2%;
    margin-right: 2%;
}

.rightSide {
    float: right;
    width: 25%
}

.monthlyCalendar {
    float: right;
    width: 100%;
    height: 300px;
    background-color: lightsalmon;
}

#calendar {
    width: 70%;
    height: 600px;
    background-color: orange;
    float: left;
}

.functionButton {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 80px;
    background-color: orange;
    border-radius: 20px;
    float: right;
}

/* Hey david, I am adding "add event" button - Pamir */

#addEvent, h2{
  text-align: center;
}
.addContainer{
  display: none;
  width: 100%;
  height: 400px;
  background-color: gray;
  position: absolute;
  z-index: 1;
}
.groupContainer{
  display: none;
  width: 100%;
  height: 400px;
  background-color: gray;
  position: absolute;
  z-index: 1;
}
/* Also adding add event inputs  */
input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
