@import url('https://fonts.googleapis.com/css?family=Pattaya:400');

@font-face {
  font-family: "AirbnbCerealApp-Bold";
  src: url('../fonts/AirbnbCereal-Bold.ttf') format("truetype");
}

.login {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.an-animation-enter {
  opacity             : 0;
  transform           : scale(0.9);
  display             : block;
  -webkit-animation   : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes an-animation-enter-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.an-animation-enter1 {
  opacity             : 0;
  transform           : scale(0.9);
  display             : block;
  -webkit-animation   : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter1-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes an-animation-enter1-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.an-animation-enter2 {
  opacity             : 0;
  transform           : scale(0.9);
  display             : block;
  -webkit-animation   : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter2-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes an-animation-enter2-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.an-animation-enter3 {
  opacity             : 0;
  transform           : scale(0.9);
  display             : block;
  -webkit-animation   : an-animation-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter3-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes an-animation-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes an-animation-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes an-animation-enter3-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(0.9);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.an-animation-enter4 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : an-animation-enter4-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter4-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter4-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : an-animation-enter4-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter4-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes an-animation-enter4-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes an-animation-enter4-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes an-animation-enter4-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.login .rectangle {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 1024px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .fproslide1compressor2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1031px;
  width               : 1833px;
  position            : absolute;
  margin              : 0;
  left                : -197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.7;
}
.login .didyouforgetyour {
  background-color    : rgba(255,255,255,0.0);
  top                 : 695px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 601px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.login .fill183 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 844px;
  height              : 70px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 567px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .fill184 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 844px;
  height              : 70px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 685px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .fill209 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 844px;
  height              : 70px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 803px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .schedulingapp {
  background-color    : rgba(255,255,255,0.0);
  top                 : 114px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 346px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Pattaya", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 120.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 167.0px;
}
.login .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 378px;
  height              : 54px;
  width               : 423px;
  position            : absolute;
  margin              : 0;
  left                : 509px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group .rectangle3 {
  background-color    : rgba(155, 153, 153, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 423px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.33;
}
.login .group .username {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(220, 210, 210, 1.0);
  text-align          : left;
  line-height         : 34.0px;
}
.login .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 462px;
  height              : 54px;
  width               : 423px;
  position            : absolute;
  margin              : 0;
  left                : 509px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .group2 .rectangle3 {
  background-color    : rgba(155, 153, 153, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 423px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.33;
}
.login .group2 .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(221, 211, 211, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.login .login1 {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 40.43%;
  height              : 6.15%;
  width               : 29.37%;
  position            : absolute;
  margin              : 0;
  left                : 35.31%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .login1 .rectangle7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0%;
  height              : calc(100.00% - 2px);
  width               : calc(100.00% - 2px);
  position            : absolute;
  margin              : 0;
  left                : 0%;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.login .login1 .login2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25.40%;
  height              : calc(0.00% + 29px);
  width               : 15.13%;
  position            : absolute;
  margin              : 0;
  left                : 42.43%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}